EXPO_PUBLIC_API_BASE_URL=http://localhost:5000/api

EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyA82t2q0PCbGiHCoLOV2vWc41ZsxY0UodY
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=context-reminder-app-f88a2.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=context-reminder-app-f88a2
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=context-reminder-app-f88a2.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=698885285814
EXPO_PUBLIC_FIREBASE_APP_ID=1:698885285814:android:294f956a26ed452b4c4317
